body {
   background-image: url("http://hdwpin.com/wp-content/uploads/2014/09/blue-background-hd.jpg");
}
a.button {
   color: white;
   font-size: 20px;
   background-color: #2ACBD7;
   width: 150px;
   padding:15px 35px 15px 35px;
   margin-right: 10px;
   border-radius:10px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
}
img.staff {
   float:left;
   margin-right: 80px;
}
h1.name {
   margin: 20px;
}
h2.role {
   margin: 20px;
}
#header {
   background-color: brown ;
   color:white;
   text-align:center;
   padding:50px;
   width: 1080px;
   margin: 10px 50px 10px 50px;
   border-radius:20px;
   -moz-border-radius:20px;
   -webkit-border-radius:20px;
    
}
#menu {
   width: 1055px;
   text-align: center;
   color: white;
   background-color: gray;
   padding: 25px;
   margin: 10px 50px 10px 75px;
   border-radius:20px;
   -moz-border-radius:20px;
   -webkit-border-radius:20px;
}
#section {
   background-color : #5FD225;
   width: 1080px;
   min-height: 260px;
   padding:50px;
   margin: 10px 50px 10px 50px;
   border-radius:20px;
   -moz-border-radius:20px;
   -webkit-border-radius:20px;
}